html, body {
  height: 100%;
}

.wrapper {
  height: 100%;
  position: relative;
}

.star-wars-intro {
  position: absolute;
  z-index: 1;
}

.square-button {
  max-width: 198px;
  max-height: 198px;
  position: relative;
  cursor: pointer;
}

.container {
  color: white;
}

.top-text, .button-text {
  color: white;
}

.container-top {
  position: relative;
}

.neutral {
  border: 2px solid blue;
}

.fighter_location {
  position: absolute;
  bottom: 0;
}

h3 {
  color: rgb(255, 157, 0);
}

#myCharacter {
  position: absolute;
  bottom: 0;
  left: 0;
  /*right: 7em;*/
  height: 170px;
  width: auto;
}

.selected, .defender {
  border: none;
}

#myDefender {
  position: absolute;
  bottom: 0;
  right: 20px;
  /*left: 7em;*/
  height: 170px;
  width: auto;
}

button#attack, button#reset {
  color: cyan;
  border: 1px solid white;
}

button {
  background-color: transparent;
}

.enemies {
  border: 2px solid red;
}

.small-img {
  max-width: 128px;
  max-height: 128px;
}

.fighter-img {
  max-width: 200px;
}

.button-text {
  position: absolute;
  bottom: 5%;
  width: 100%;
  left: 0%;
}

.top-text {
  position: absolute;
  top: 5%;
  width: 100%;
  left: 0%;
}

.container-top {
  background-color: rgba(141, 141, 141, 0.178);
  height: 80%;
}

.container-bottom {
  border-top: 2px solid brown;
  background-color: rgba(141, 141, 141, 0.178);
  min-height: 20%;
}

/*-----------------HP BAR--------------*/

.healthBarShell {
  width: 30%;
  height: 50px;
  background: rgba(255, 238, 1, 0.876);
  border-radius: 12px;
  box-sizing: border-box;
  margin-bottom: 5px;
  padding: 10px 16px 0px 15px;
}

.healthBarValue {
  width: 100%;
  height: 30px;
  background: #c54;
  border: solid 1px;
  border-color: rgba(255, 191, 14, 0.7);
  box-sizing: border-box;
  margin: 0px;
  position: relative;
}

p#selected, p#defender {
  position: relative;
  bottom: 65%;
  color: white;
}