
body {
  /*background-image: url("../images/background.jpg");*/
  background-size: cover; 
}

.square-button {
    width: 198px;
    height: 198px;
    /*float: left;*/
    position: relative;
    /*background-color: white;*/
    cursor: pointer;

  }

  .neutral {
    border: 2px solid blue;
  }

  .selected {
    border: 2px solid green;
    height: 170px;
    width: auto;
    position: absolute;
    top: 320px;
    left: 100px;
  }

  button {
    background-color: transparent;
  }
  .enemies {
    border: 2px solid red;
  }

  .defender {
    border: 2px solid yellow;
    height: 150px;
    width: auto; 
    position: absolute;
    top: 340px;
    right: 100px;
  }

  .small-img {
    max-width: 128px;
    max-height: 128px;
  }
  
  .button-text {
    position: absolute;
    bottom: 5%;
    width: 100%;
    left: 0%;
  }

  .top-text {
    position: absolute;
    top: 5%;
    width: 100%;
    left: 0%;
  }
  
  /*-----------------Testing--------------*/

  .healthBarShell {
    width: 30%;
    height: 50px;
    background: rgba(0,0,0,.5);
    border-radius: 12px;
    box-sizing: border-box;
    margin: 0px;
    padding: 10px 16px 0px 15px;
  }
  
  .healthBarValue {
    width: 100%;
    height: 30px;
    background: rgba(255,0,0,.5);
    border: solid 1px;
    border-color: rgba(255,255,255,.7);
    box-sizing: border-box;
    margin: 0px;
    position: relative;
  }

  p {
    position: relative;
    bottom: 65%;
    color: white;
  }
  
  .container_2 {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20%;
    padding-bottom: 40rem;
    background-color: darkgrey;
  }

  .container-top {
    background-color: darkgrey;
    padding-bottom: 500px;
  }

  .container-bottom {
    background-color:darkkhaki;
  }

